<connectionStrings>
  <add name="jCtrlContext" providerName="System.Data.SqlClient" connectionString="Server=tcp:b4qghpm0yf.database.windows.net,1433;Database=jControl_Dev;User ID=jctrl_api_dev@b4qghpm0yf;Password=*mcNce&amp;YruZx6^59;Trusted_Connection=False;Encrypt=True;Connection Timeout=8;"/>
</connectionStrings>