<appSettings>
  <add key="CDN_" value=""/>
  <add key="Chronoship_Min_Price_SNF" value="12.45"/>
  <add key="Encryption_Key" value="bb74337d-0626-4944-b524-34aed2bd7f5e"/>
  <add key="Encryption_Salt" value="5f25a55f-c624-43a2-8360-78d5688e16fe"/>
  <add key="EverythingLocation_Key" value="3AbseXUI1Bir3r142cvk0eauVraOvsT8qy6G5fb9"/>  
  <add key="JWT_Issuer" value="https://localhost:44301"/>
  <add key="JWT_AudienceID" value="228CCB63CDBE4E77BC605F42CE6C4257"/>
  <add key="JWT_AudienceSecret" value="SrUJELhUckePEPVpaePlS_XawIxrAjDoa2FqElO7Ihr"/>
  <add key="AllowedOrigins" value="http://localhost:40549,http://localhost:3000,https://localhost:3000,https://sngbarratt-dev.azurewebsites.net,http://sngbarratt-dev.azurewebsites.net,https://sngbarratt-proto.azurewebsites.net,http://sngbarratt-proto.azurewebsites.net,http://www.sngbarratt.com,https://www.sngbarratt.com,http://sngbarratt.com,https://sngbarratt.com"/>
  <add key="Mandrill_Key" value="sdQ8lzVQ5GLJxvPCIG5wnw"/>
  <add key="Twitter_Screen_Name" value="sng_barratt" />
  <add key="Twitter_Token" value="460286446-dxSrcPvHBoS6ubBAIEQVXIbMPvQzVajcuvoMU6DM" />
  <add key="Twitter_Token_Secret" value="dBuxwMFp9oQ9aN1km18PvS11AHZyEY9S1Zx6Y2w6AQ" />
  <add key="Twitter_Consumer_Key" value="AQkm0ZwE9NcB8xcPtS9JcQ" />
  <add key="Twitter_Consumer_Secret" value="IS3vk5klDCRZzfo6vRAazMuSlgulmSTQktdb2y0I" />
  <add key="UPS_3Day_for_Ground_BAU" value="true"/>
  <add key="UPS_Min_Price_BAU" value=""/>
  <add key="UPS_Min_Price_SND" value="5.00"/>
  <add key="UPS_Min_Price_SNG" value="9.00"/>
  <add key="UPS_Min_Price_SNH" value="5.00"/>    
</appSettings>