<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="jCtrl.Validation.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="jCtrl.Validation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <applicationSettings>
        
        <jCtrl.Validation.Properties.Settings>
            <setting name="TaxNumber_Request_Url" serializeAs="String">
                <value>http://ec.europa.eu/taxation_customs/vies/vatResponse.html</value>
            </setting>
            <setting name="TaxNumber_Referral_Url" serializeAs="String">
                <value>http://ec.europa.eu/taxation_customs/vies/vatRequest.html</value>
            </setting>
        </jCtrl.Validation.Properties.Settings>
    </applicationSettings>

</configuration>